.containerCards {
    display: grid;
    grid-template-columns: repeat(4, 350px);
    grid-gap: 30px;
    place-items: center;
    padding-top: 20px;
    box-sizing: border-box;
    width: 100%;
}

@media (max-width:1900px) {
    .containerCards{
        display: grid;
        grid-template-columns: repeat(3, 380px);
    }
}

@media (max-width:1024px) {
    .containerCards{
        display: grid;
        grid-template-columns: repeat(2, 380px);
    }
}


@media (max-width: 960px) {
    .containerCards {
        display: grid;
        grid-template-columns: 1fr;
        place-items: center;
        margin: 0;
        width: 100%;
    }

}




.cards:hover {
    box-shadow: 2px 2px 30px 10px #2c0b7c;
    transform: translate(0rem, -0.5rem);
    transition: 0.5s all ease;

}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    font-family: var(--font-family-test);
    font-weight: 600;
}

.cards {
    background-color: #fff;
    width: 90%;
    transition: 0.5s all ease;
    padding-bottom: 10px;
    border-radius: 8px;
}

.cards h4 {
    color: #ffa524;
}


.cards span {
    color: black;
}

.cards img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    background-color: #fff;
    overflow: hidden;
    border-radius: 8px 8px 0 0;
}


.icons {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    font-size: 25px;
    padding: 15px;
    color: black;
}
